<div class="addition p-5 mt-5">
    <div class="head-title flex items-center justify-between mb-4">
        <div class="title font-medium text-base leading-6 text-gray-200">Thể loại được yêu thích</div>
    </div>
    <div class="addition-content pb-14 overflow-hidden">
        <div x-data="swiperAddition()" class="swiper-slider w-[224px]">
            <div class="swiper !overflow-visible">
                <div class="swiper-wrapper">
                    <div class="swiper-slide">
                        <div
                            class="flex flex-col justify-between p-4 w-56 h-[268px] rounded-[12px] border border-gray-900">
                            <div class="grid grid-cols-2 gap-2 ">
                                <div class="item">
                                    <div class="feature-img">
                                        <img src="./image/film/grid-film-1.png" alt="">
                                    </div>
                                </div>
                                <div class="item">
                                    <div class="feature-img">
                                        <img src="./image/film/grid-film-2.png" alt="">
                                    </div>
                                </div>
                                <div class="item">
                                    <div class="feature-img">
                                        <img src="./image/film/grid-film-3.png" alt="">
                                    </div>
                                </div>
                                <div class="item">
                                    <div class="feature-img">
                                        <img src="./image/film/grid-film-4.png" alt="">
                                    </div>
                                </div>
                            </div>
                            <div class="action w-full">
                                <a href="#"
                                    class="flex justify-between items-center font-medium text-sm leading-5 text-gray-200">
                                    Hành động
                                    <svg width="24" height="24" viewBox="0 0 24 24" fill="none"
                                        xmlns="http://www.w3.org/2000/svg">
                                        <path d="M16.5 12L9 19.5L7.95 18.45L14.4 12L7.95 5.55L9 4.5L16.5 12Z"
                                            fill="#EDEDED" />
                                    </svg>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="flex flex-col justify-between p-4 h-[268px] rounded-[12px] border border-gray-900">
                            <div class="grid grid-cols-2 gap-2 ">
                                <div class="item">
                                    <div class="feature-img">
                                        <img src="./image/film/grid-film-1.png" alt="">
                                    </div>
                                </div>
                                <div class="item">
                                    <div class="feature-img">
                                        <img src="./image/film/grid-film-2.png" alt="">
                                    </div>
                                </div>
                                <div class="item">
                                    <div class="feature-img">
                                        <img src="./image/film/grid-film-3.png" alt="">
                                    </div>
                                </div>
                                <div class="item">
                                    <div class="feature-img">
                                        <img src="./image/film/grid-film-4.png" alt="">
                                    </div>
                                </div>
                            </div>
                            <div class="action w-full">
                                <a href="#"
                                    class="flex justify-between items-center font-medium text-sm leading-5 text-gray-200">
                                    Hành động
                                    <svg width="24" height="24" viewBox="0 0 24 24" fill="none"
                                        xmlns="http://www.w3.org/2000/svg">
                                        <path d="M16.5 12L9 19.5L7.95 18.45L14.4 12L7.95 5.55L9 4.5L16.5 12Z"
                                            fill="#EDEDED" />
                                    </svg>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="swiper-pagination !-bottom-9"></div>
            </div>
        </div>
    </div>

</div>
<script>
    function swiperAddition() {
        return {
            swiper: null,
            autoplay: false,
            initSwiperAddition() {
                this.swiper = new Swiper('.addition-content .swiper', {
                    direction: 'horizontal',
                    loop: true,
                    spaceBetween: 20,
                    pagination: {
                        el: '.swiper-pagination',
                        clickable: true,
                        dynamicBullets: true,
                    },
                    navigation: {
                        nextEl: '.swiper-button-next',
                        prevEl: '.swiper-button-prev',
                    },
                });
            },
            init() {
                this.initSwiperAddition();
            }
        }
    }
</script>