<div class="game-listing my-10">
    <div class="grid grid-cols-3 md:grid-cols-6 gap-2">
        <div class="game-listing__item w-full flex gap-2">
            <a href="#" class="relative rounded w-full overflow-hidden">
                <img class="w-full h-[112px] md:h-[220px] rounded object-cover" src="./image/game/game-1.png" alt="">
                <p class="absolute bottom-2 left-2 right-2 z-10 text-xs text-center p-1 bg-black bg-opacity-50">Bắn súng</p>
            </a>
        </div>
        <div class="game-listing__item w-full flex gap-2">
            <a href="#" class="relative rounded w-full overflow-hidden">
                <img class="w-full h-[112px] md:h-[220px] rounded object-cover" src="./image/game/game-2.png" alt="">
                <p class="absolute bottom-2 left-2 right-2 z-10 text-xs text-center p-1 bg-black bg-opacity-50">Bắn súng</p>
            </a>
        </div>
        <div class="game-listing__item w-full flex gap-2">
            <a href="#" class="relative rounded w-full overflow-hidden">
                <img class="w-full h-[112px] md:h-[220px] rounded object-cover" src="./image/game/game-3.png" alt="">
                <p class="absolute bottom-2 left-2 right-2 z-10 text-xs text-center p-1 bg-black bg-opacity-50">Bắn súng</p>
            </a>
        </div>
        <div class="game-listing__item w-full flex gap-2">
            <a href="#" class="relative rounded w-full overflow-hidden">
                <img class="w-full h-[112px] md:h-[220px] rounded object-cover" src="./image/game/game-4.png" alt="">
                <p class="absolute bottom-2 left-2 right-2 z-10 text-xs text-center p-1 bg-black bg-opacity-50">Bắn súng</p>
            </a>
        </div>
        <div class="game-listing__item w-full flex gap-2">
            <a href="#" class="relative rounded w-full overflow-hidden">
                <img class="w-full h-[112px] md:h-[220px] rounded object-cover" src="./image/game/game-5.png" alt="">
                <p class="absolute bottom-2 left-2 right-2 z-10 text-xs text-center p-1 bg-black bg-opacity-50">Bắn súng</p>
            </a>
        </div>
        <div class="game-listing__item w-full flex gap-2">
            <a href="#" class="relative rounded w-full overflow-hidden">
                <img class="w-full h-[112px] md:h-[220px] rounded object-cover" src="./image/game/game-6.png" alt="">
                <p class="absolute bottom-2 left-2 right-2 z-10 text-xs text-center p-1 bg-black bg-opacity-50">Bắn súng</p>
            </a>
        </div>
        <div class="game-listing__item w-full flex gap-2">
            <a href="#" class="relative rounded w-full overflow-hidden">
                <img class="w-full h-[112px] md:h-[220px] rounded object-cover" src="./image/game/game-1.png" alt="">
                <p class="absolute bottom-2 left-2 right-2 z-10 text-xs text-center p-1 bg-black bg-opacity-50">Bắn súng</p>
            </a>
        </div>
        <div class="game-listing__item w-full flex gap-2">
            <a href="#" class="relative rounded w-full overflow-hidden">
                <img class="w-full h-[112px] md:h-[220px] rounded object-cover" src="./image/game/game-2.png" alt="">
                <p class="absolute bottom-2 left-2 right-2 z-10 text-xs text-center p-1 bg-black bg-opacity-50">Bắn súng</p>
            </a>
        </div>
        <div class="game-listing__item w-full flex gap-2">
            <a href="#" class="relative rounded w-full overflow-hidden">
                <img class="w-full h-[112px] md:h-[220px] rounded object-cover" src="./image/game/game-3.png" alt="">
                <p class="absolute bottom-2 left-2 right-2 z-10 text-xs text-center p-1 bg-black bg-opacity-50">Bắn súng</p>
            </a>
        </div>
        <div class="game-listing__item w-full flex gap-2">
            <a href="#" class="relative rounded w-full overflow-hidden">
                <img class="w-full h-[112px] md:h-[220px] rounded object-cover" src="./image/game/game-4.png" alt="">
                <p class="absolute bottom-2 left-2 right-2 z-10 text-xs text-center p-1 bg-black bg-opacity-50">Bắn súng</p>
            </a>
        </div>
        <div class="game-listing__item w-full flex gap-2">
            <a href="#" class="relative rounded w-full overflow-hidden">
                <img class="w-full h-[112px] md:h-[220px] rounded object-cover" src="./image/game/game-5.png" alt="">
                <p class="absolute bottom-2 left-2 right-2 z-10 text-xs text-center p-1 bg-black bg-opacity-50">Bắn súng</p>
            </a>
        </div>
        <div class="game-listing__item w-full flex gap-2">
            <a href="#" class="relative rounded w-full overflow-hidden">
                <img class="w-full h-[112px] md:h-[220px] rounded object-cover" src="./image/game/game-6.png" alt="">
                <p class="absolute bottom-2 left-2 right-2 z-10 text-xs text-center p-1 bg-black bg-opacity-50">Bắn súng</p>
            </a>
        </div>
        <div class="game-listing__item w-full flex gap-2">
            <a href="#" class="relative rounded w-full overflow-hidden">
                <img class="w-full h-[112px] md:h-[220px] rounded object-cover" src="./image/game/game-1.png" alt="">
                <p class="absolute bottom-2 left-2 right-2 z-10 text-xs text-center p-1 bg-black bg-opacity-50">Bắn súng</p>
            </a>
        </div>
        <div class="game-listing__item w-full flex gap-2">
            <a href="#" class="relative rounded w-full overflow-hidden">
                <img class="w-full h-[112px] md:h-[220px] rounded object-cover" src="./image/game/game-2.png" alt="">
                <p class="absolute bottom-2 left-2 right-2 z-10 text-xs text-center p-1 bg-black bg-opacity-50">Bắn súng</p>
            </a>
        </div>
        <div class="game-listing__item w-full flex gap-2">
            <a href="#" class="relative rounded w-full overflow-hidden">
                <img class="w-full h-[112px] md:h-[220px] rounded object-cover" src="./image/game/game-3.png" alt="">
                <p class="absolute bottom-2 left-2 right-2 z-10 text-xs text-center p-1 bg-black bg-opacity-50">Bắn súng</p>
            </a>
        </div>
        <div class="game-listing__item w-full flex gap-2">
            <a href="#" class="relative rounded w-full overflow-hidden">
                <img class="w-full h-[112px] md:h-[220px] rounded object-cover" src="./image/game/game-4.png" alt="">
                <p class="absolute bottom-2 left-2 right-2 z-10 text-xs text-center p-1 bg-black bg-opacity-50">Bắn súng</p>
            </a>
        </div>
        <div class="game-listing__item w-full flex gap-2">
            <a href="#" class="relative rounded w-full overflow-hidden">
                <img class="w-full h-[112px] md:h-[220px] rounded object-cover" src="./image/game/game-5.png" alt="">
                <p class="absolute bottom-2 left-2 right-2 z-10 text-xs text-center p-1 bg-black bg-opacity-50">Bắn súng</p>
            </a>
        </div>
        <div class="game-listing__item w-full flex gap-2">
            <a href="#" class="relative rounded w-full overflow-hidden">
                <img class="w-full h-[112px] md:h-[220px] rounded object-cover" src="./image/game/game-6.png" alt="">
                <p class="absolute bottom-2 left-2 right-2 z-10 text-xs text-center p-1 bg-black bg-opacity-50">Bắn súng</p>
            </a>
        </div>
    </div>
</div>