<div class="mt-8 border-t border-b border-grey py-4">
    <div class="container">
        <div class="flex flex-wrap items">
            <div class="item w-1/3">
                <div class="title text-xs text-grey-light mb-1">Thể loại</div>
                <div class="content text-sm text-grey-80 min-h-16">Kinh dị</div>
            </div>
            <div class="item w-2/3">
                <div class="title text-xs text-grey-light mb-1">Tags</div>
                <div class="content text-sm text-grey-80 min-h-16">hành động, giả tưởng</div>
            </div>
        </div>
        <div class="desctiption">
            <div class="title text-base text-grey-80 font-semibold mb-2">Giới thiệu game</div>
            <div class="content text-sm text-grey-80">
                <p>
                    Rey (Daisy Ridley) finally manages to find the legendary Jedi knight, Luke Skywalker (Mark Hamill) on an island with a
                    magical aura. The heroes of The Force Awakens including Leia, Finn
                </p>
                <img class="w-full mt-2" src="./image/game/game-desc.png" alt="">
            </div>
            
        </div>
    </div>
</div>
