<div class="section-dating py-8">
    <div class="banner-dating">
        <div class="user-dating relative overflow-hidden">
            <ul class="grid grid-cols-user gap-4 -mx-[3.3rem]">
                <li>
                    <img class="w-[76px] h-[76px] object-cover rounded" src="./image/user/user-dating-1.jpeg" alt="" />
                </li>
                <li>
                    <img class="w-[76px] h-[76px] object-cover rounded" src="./image/user/user-dating-2.png" alt="" />
                </li>
                <li>
                    <img class="w-[76px] h-[76px] object-cover rounded" src="./image/user/user-dating-3.jpeg" alt="" />
                </li>
                <li>
                    <img class="w-[76px] h-[76px] object-cover rounded" src="./image/user/user-dating-4.png" alt="" />
                </li>
                <li>
                    <img class="w-[76px] h-[76px] object-cover rounded" src="./image/user/user-dating-5.jpeg" alt="" />
                </li>
                <li>
                    <img class="w-[76px] h-[76px] object-cover rounded" src="./image/user/user-dating-6.jpeg" alt="" />
                </li>
                <li>
                    <img class="w-[76px] h-[76px] object-cover rounded" src="./image/user/user-dating-7.jpeg" alt="" />
                </li>
                <li>
                    <img class="w-[76px] h-[76px] object-cover rounded" src="./image/user/user-dating-8.jpeg" alt="" />
                </li>
                <li>
                    <img class="w-[76px] h-[76px] object-cover rounded" src="./image/user/user-dating-9.png" alt="" />
                </li>
                <li>
                    <img class="w-[76px] h-[76px] object-cover rounded" src="./image/user/user-dating-10.jpeg" alt="" />
                </li>
                <li>
                    <img class="w-[76px] h-[76px] object-cover rounded" src="./image/user/user-dating-11.jpeg" alt="" />
                </li>
                <li>
                    <img class="w-[76px] h-[76px] object-cover rounded" src="./image/user/user-dating-12.png" alt="" />
                </li>
                <li>
                    <img class="w-[76px] h-[76px] object-cover rounded" src="./image/user/user-dating-13.jpeg" alt="" />
                </li>
                <li>
                    <img class="w-[76px] h-[76px] object-cover rounded" src="./image/user/user-dating-6.jpeg" alt="" />
                </li>
                <li>
                    <img class="w-[76px] h-[76px] object-cover rounded" src="./image/user/user-dating-8.jpeg" alt="" />
                </li>
            </ul>
            <div class="heart-fill absolute top-1/2 left-1/2 transform -translate-x-1/2 -translate-y-1/2 bg-mainBlack ">
                <img class="w-[106px] h-[106px] object-cover rounded" src="./image/user/si_heart-fill.svg" alt="" />
            </div>
        </div>
        <div class="content mt-8 text-center">
            <div class="title font-semibold text-2xl">Tìm một nửa của bạn</div>
            <div class="desc font-normal text-sm text-gray-600">Hãy xem ai là người sẽ hiểu được phần sâu <br> bên trong
                con người bạn.</div>
            <div class="action mt-3">
                <a href="#" class="btn btn-primary">Đi đến trang hẹn hò</a>
            </div>
        </div>
    </div>
</div>