.footer .navbar .nav-item.center {
  margin-top: -1rem;
  height: 49px;
  border-radius: 0.75rem;
  --tw-bg-opacity: 1;
  background-color: rgb(209 16 48 / var(--tw-bg-opacity, 1));
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  padding-left: 1rem;
  padding-right: 1rem;
  box-shadow: 0px 2px 4px rgba(255, 55, 55, 0.5)
}