.swiper-slide {
    img {
        width: 100%
    }
}
.swiper-pagination {
    width: auto !important;
    border-radius: 0.75rem;
    --tw-bg-opacity: 1;
    background-color: rgb(41 41 41 / var(--tw-bg-opacity, 1));
    padding: 0.5rem
}
.swiper-pagination-bullet {
    position: static !important;
    height: 10px;
    width: 10px;
    --tw-rotate: 45deg !important;
    transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y)) !important;
    border-radius: 0.125rem;
    --tw-bg-opacity: 1;
    background-color: rgb(89 89 89 / var(--tw-bg-opacity, 1));
    opacity: 1
}
.swiper-pagination-bullets-dynamic .swiper-pagination-bullet-active {
    --tw-bg-opacity: 1;
    background-color: rgb(209 16 48 / var(--tw-bg-opacity, 1))
}