body {
  @apply font-sans;
}

.head {
    @apply text-2xl font-bold text-blue-500;
}

.nav-tabs {
  @apply relative w-full overflow-x-auto bg-mainBlack -mt-6;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.nav-tabs ul {
  @apply flex items-center list-none p-5;
}

.nav-tabs li {
  @apply flex-shrink-0 mr-5;
}

.nav-tabs::-webkit-scrollbar {
  @apply hidden;
}

.nav-tabs a {
  @apply font-normal text-base leading-6 text-gray-500;
}
.nav-tabs a.active {
  @apply flex justify-center items-center py-2 px-4 font-semibold text-base leading-6 text-red-700 bg-white rounded-full;
}

.scroll-container {
  @apply w-full overflow-x-auto whitespace-nowrap flex;
  -ms-overflow-style: none;
  scrollbar-width: none;
  user-select: none; /* Disable text selection */
}
.scroll-container .scroll-item {
    @apply flex-shrink-0 basis-56;
}
.scroll-container img {
  user-select: none;
}

.scroll-container::-webkit-scrollbar {
  @apply hidden;
}

.scroll-item {
  @apply inline-block w-56 mr-5;
}
.scroll-item:last-child {
  @apply mr-0;
}
.card.scroll-container .item{
  @apply flex-shrink-0 basis-[106px];
}
.card.scroll-container .item:last-child {
  @apply mr-0;
}
.card.scroll-container.book .item{
  @apply flex-shrink-0 basis-[120px];
}

.label-chapter {
  @apply absolute bottom-3 left-1/2 bg-red-600 font-bold text-white uppercase text-[8px] rounded-xl py-1 px-2 border border-white;
  transform: translateX(-50%);
}
.modal-language {
  @apply fixed left-0 right-0 bottom-0;
}
.modal-language .modal-content {
  @apply  bg-mainBlack rounded-s-lg p-5;
  box-shadow: 0px -2px 4px rgba(0, 0, 0, 0.08);
}
.cursor-grab {
    cursor: grab;
}
.cursor-grabbing {
    cursor: grabbing;
}